@model MvcPL.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "User Page";
}

<div class="col-md-3"  style="border: 1px dashed blue">
    <br/>
    @if (String.Compare(Model.User.Email, User.Identity.Name,true) == 0)
    {
        <div class="row col-md-12 lead">
            My profile
        </div>
    }
    else
    {
        <div class="row col-md-12 lead">
            Profile @Model.User.Email
        </div>
    }
    <div class="row col-md-12 text-right">
        @if (String.Compare(Model.User.Email, User.Identity.Name, true) == 0)
        {
            <a href="@Url.Action("UserSettings", "Home")">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit my profile
            </a>
            <br />
            <a href="@Url.Action("Add", "Photo")">
                <span class="glyphicon glyphicon-plus"></span>
                Add new photo
            </a>
            <br/>
            if (User.IsInRole("Administrator"))
            {
                <a href="@Url.Action("UsersEdit", "Administrator")">
                    <span class="glyphicon glyphicon-user"></span>
                    Edit other users
                </a>
            }
        }
    </div>
    @{
        Html.RenderPartial("UserProfile", Model.Profile);
    }
</div>
<div class="col-md-9" style="border: 1px dashed blue">
    @{
        //Html.RenderAction("GetPhotos", "Photo", new {userName=Model.User.Email});
    }
    @{
        Html.RenderPartial("_ShowImageGallery", Model.Photos);
    }
</div>